@model IEnumerable<CalculadoraPrestamos.Models.Prestamos>

@{
    ViewBag.Title = "Index";
}

<h2>Prestamos</h2>

<p>
    @Html.ActionLink("Nuevo Prestamo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intereses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intereses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Tabla de amortizacion", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
